.projects-container {
  width: auto;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-top: 5em;
}

.projects-content {
  width: 100%;
  max-width: 1400px;
}

.projects-heading {
  font-family: Inter-Bold;
  font-size: 3em;
  color: white;
  margin-bottom: 1.2em;
}

.projects-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
}

.project-card {
  background-color: #37415c;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  perspective: 1000px;
  position: relative;
  padding: 2em;
}

.project-thumbnail {
  width: auto;
  height: 300px;
  border-radius: 12px;
  object-fit: contain;
  background-color: rgba(245, 245, 245, 0.1);
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
}

.project-details {
  padding: 1.5em;
  transition: transform 0.3s ease;
}

.project-title {
  font-size: 1.5em;
  font-family: Inter-Bold;
  color: #f5f5f5;
  margin-bottom: 0.5em;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.project-description {
  font-size: 1.3em;
  color: #f5f4f4;
  margin-bottom: 1em;
  font-family: Raleway-SemiBold;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.tech-stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.tech-stack {
  padding: 0.3em 0.7em;
  font-size: 1em;
  font-family: RobotoMono-Bold;
  color: #37415c;
  background-color: #e7cfac;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.tech-stack:hover {
  background-color: #bfac8f;
}

.project-links {
  display: flex;
  gap: 1em;
}

.project-link {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-family: Inter-SemiBold;
  color: #37415c;
  background-color: #d9b28d;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-link:hover {
  background-color: #c89b6a;
}

.link-icon {
  margin-left: 0.5em;
  width: 1.1em;
  height: 1.1em;
}

/* Enhanced 3D Effects on Hover */

.project-card:hover {
  transform: scale(1.5);
}

.project-card:hover .project-thumbnail {
  transform: translateZ(200px) scale(1.1);
  box-shadow: 0 12px 40px rgb(51, 60, 92);
}

.project-card:hover .tech-stack {
  transform: scale(1.03);
  box-shadow: 0 8px 22px rgba (41, 38, 38, 0.5);
}

.project-card:hover .project-link {
  transform: scale(1.07);
  box-shadow: 0 8px 22px rgba(41, 38, 38, 0.5);
}

.project-card:hover .project-description {
  transform: translateZ(170px) scale(1.05);
  text-shadow: 2px 2px 10px rgba(51, 51, 51, 0.5);
}

.project-card:hover .project-title {
  transform: translateZ(120px) scale(1.07);
  text-shadow: 2px 2px 10px rgba(51, 51, 51, 0.5);
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .projects-heading {
    font-size: 2.5em;
  }

  .project-card {
    padding: 1.5em;
    width: fit-content;
    height: fit-content;
  }

  .project-thumbnail {
    height: fit-content;
    width: 80%;
  }

  .project-title {
    font-size: 1.3em;
  }

  .project-description {
    font-size: 1em;
  }

  .tech-stack {
    font-size: 0.8em;
  }

  .project-link {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 2em;
  }

  .project-card {
    padding: 1em;
  }

  .project-thumbnail {
    height: auto;
    width: 100%;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.9em;
  }

  .tech-stack {
    font-size: 0.7em;
  }

  .project-link {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .projects-heading {
    font-size: 1.5em;
  }

  .project-card {
    padding: 0.5em;
  }

  .project-thumbnail {
    height: 150px;
    margin-top: 10px;
  }

  .project-title {
    font-size: 1.4em;
  }

  .project-description {
    font-size: 1em;
  }

  .tech-stack {
    font-size: 0.7em;
  }

  .project-link {
    font-size: 0.7em;
  }
}
