.website {
  background-image: linear-gradient(to bottom, #37415c, #242e49, #181a2f);
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.hello {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}
