::-webkit-scrollbar {
  display: none;
}
.website {
  background-image: linear-gradient(to bottom, #37415c, #242e49, #181a2f);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto; /* Enables vertical scrolling */
  scroll-behavior: smooth; /* Smooth scrolling effect */
  margin: 0;
}

.hello {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#about {
  height: auto;
}

#experience {
  height: auto;
}
