.App {
  text-align: center;
  position: relative;
  flex: content;
  flex-direction: row;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
nav {
  z-index: 1;
  position: relative;
}

h1 {
  z-index: 1;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
